# Vagrant
.vagrant

# WordPress
dist/*.log
dist/local-config.php
dist/wp-content/advanced-cache.php
dist/wp-content/backup-db/
dist/wp-content/backups/
dist/wp-content/blogs.dir/
dist/wp-content/cache/
dist/wp-content/upgrade/
dist/wp-content/uploads/
dist/wp-content/themes/*
dist/wp-content/index.php
dist/wp-content/languages/**/*.po
dist/wp-content/languages/**/*.mo
dist/wp-content/wp-cache-config.php
dist/wp-content/plugins/*
dist/wp-includes
dist/wp-admin
dist/wp-*.php
dist/xmlrpc.php
dist/index.php
!dist/wp-config.php
dist/.htaccess
dist/license.txt
dist/readme.html
dist/sitemap.xml
dist/sitemap.xml.gz


# Project
# !dist/wp-content/themes/gulp-wp-theme

# Node
node_modules
.npm
